@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qssoyc');
  src:  url('../fonts/icomoon.eot?qssoyc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qssoyc') format('truetype'),
    url('../fonts/icomoon.woff?qssoyc') format('woff'),
    url('../fonts/icomoon.svg?qssoyc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e912";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-phone:before {
  content: "\e942";
}
